.header {
    background: #131921;
    display: flex;
    align-items: center;
}
.header_menuIcon {
    color: white;
    padding: 5px;
    height: 50px !important;
}
.header_logo {
  width: 100px;
  object-fit: contain;
  margin-top: 18px;
  margin-left: 20px;
  margin-right: 20px;
  
}
.header_search{
    display: flex;
    flex: 1;
    padding: 5px;
   
}
.header_selectcategory{
    height: 35px;
    border:  rgb(195, 195, 195);
    width: 50px;

}
.header_searchInput{
    height: 15px;
    padding: 10px;
    border:  rgb(195, 195, 195);
    width: 100%;
}
.header_searchicon {
    padding: 5px;
    height: 25px !important;
    background-color: #cd9042;

}
.header_languageoptions {
     margin-top: 12px;
     height: 25px !important;
     margin-bottom: 12px;

}
.header_Nav{
    display: flex;
    justify-content: space-evenly;
}
.header_links{
    color:white;
    text-decoration: none;
}
.header_options{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}
.header_optionsOne{
    font-size: 10px;
   
}
.header__optionsTwo{
    font-size: 13px;
    font-weight: 800;
}
.header_carticon{
     

     height: 20px !important;
     margin-left: 0px;
     margin-right: 2px;
  
   
}

@media only screen and (max-width: 700px) {
 .header{
     
 display: flex;
  align-items: flex-start;
 }
 .header_search .header_selectcategory .header_searchicon .header_searchInput{
     display: flex;
   
     
 }
 .header_Nav{
    display: flex;
    flex-direction: row;
     justify-content: space-evenly;
    
 }
  .header_options {
      display: flex;
 }
 .header_optionsOne{
       font-size: 10px;

 }
 .header__optionsTwo{
    font-size: 13px;
    font-weight: 800;

 }
}
