
.checkout_product{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.checkout_product > img {
   
  object-fit: contain;
  height: 180px;
  width:180px;
  

}
.checkoutproduct_details{
    padding-left: 40px;
}
.checkout_rating {
    display: flex;
}
.checkoutproduct_details > button {
      background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
.checkout_subtotal{
    padding-right: 150px;
    text-align: right;
  
    
}
.checkout_subtotal > p {
    color: #111;
}
